body {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 205, 207);
  min-height: 100vh;
}

header {
  background-color: ghostwhite;
}

header,
main {
  margin: 0;
  padding: 1rem 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: rgb(177, 45, 30);
}

h1 {
  margin: 3rem 0;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

/* Form labels */
form label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  gap: 0.3rem;
  text-align: left;
}

/* Form Inputs */
form input,
form select {
  height: 2rem;
  padding: 0.4rem;
  font-size: 1rem;
}

/* Submit button */
form button {
  height: 2.4rem;
  font-size: 1rem;
  cursor: pointer;
}

.food-trucks {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.food-truck {
  background: ghostwhite;
  border: 1px solid black;
  border-radius: 20px;
  padding: 1rem;
  width: 300px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  gap: 1rem;
}

.label {
  font-weight: bold;
}

.value {
  text-align: right;
  margin-left: 1rem;
}
